$orange: #e68b24;
$blue:  #4953da;
$darkBlue: #475E7F;

body {
  background-color: #ffffff;
  height: 100%;

}
.site {
  text-align: center;
  font-family: 'Muli', sans-serif;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

html {
  height: 100%;
}

.hide-map-popup-country-name {
  visibility: hidden;
}

// path {
//   fill: $darkBlue;
//   cursor: pointer;
//   outline: none;
//   &:hover {
//     fill:  #5d65d6;
//   }

//   &:focus {
//     fill: rgba(168,43,43,0.6);
//   }

//   &[aria-checked='true'] {
//     fill: $orange;
//   }

//   &[aria-current='true'] {
//     fill: rgba(56,43,168,0.83);
//   }

//   &[id="nz-can"] {
//     fill: rgba(56,43,168,0.6);
//   }

// }
    path {
        fill: #475E7F;
        cursor: pointer;
        outline: none;
  
        &:hover {
          fill:  #5B6C7C;
        }
  
        &:focus {
          fill: rgba(168,43,43,0.6);
        }
  
        &[aria-checked='true'] {
          fill: #e68b24;
          &:hover {
            fill:  #E59854;
          }
        }
  
        &[aria-current='true'] {
          fill: rgba(56,43,168,0.83);
        }
  
        &[id="nz-can"] {
          fill: rgba(56,43,168,0.6);
        }
      }

.site-body {
  margin-top: 66px;
  max-height: calc(100vh - 66px);
}

.footer {
  min-height: 100px;
  background-color: #282c34;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.home-page-title {
  position: relative;
  top: 20px;
  a {
    color: $darkBlue;

    &:hover {
      color: $orange;
    }
  }
}

.home-page-map {
  background-color: white;
  height: calc(100vh - 120px);
  transition: 1.0s;
  z-index: 50;
  position: relative;
  // top: -25px;
  // overflow-y: scroll;

  #chartdiv {
    height: fit-content !important;
    position: relative;
    top: 20px;
    .fOWsaB {
      margin-top: 0;
    }
  }
}

svg {
  max-height: calc(100vh - 180px);
}

.hidden {
  visibility: hidden;
}

.App {
  min-width: 100%;
  height: 100vh;
}

.show-map-popup-country-name {
  background-color: white;
  border: solid 1px grey;
  font-size: medium;
  border-radius: 3px;
  padding: 5px;
}



