$orange: #e68b24;
$blue:  #4953da;
$darkBlue: #475E7F;

.navbar {
    width: 100%;
    height: 60px;
    /* max-width: 1200px; */
    background-color: #282c34;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    color: white;
    text-align: center;

    .hamburger-menu {
      position: absolute;
      left: 30px;
      top: 21px;
      height: 20px;
      cursor: pointer;
    }
    
    #main-logo {
        width: 350px;
        max-width: 400px;
        min-width: 100px;
        position: absolute;
        top: 15px;
        left: calc(50vw - (350px / 2));
        cursor: pointer;
      }
    .login-icon {
      position: absolute;
      top: 15px;
      right: 2.5%;
      display: flex;
      flex-direction: row;
      p {
        color: white;
        width: fit-content;
        position: relative;
        margin: 0 10px;
        top: 5px;
      }

      .profile-picture {
        border-radius: 50%;
        height: 50%;
        z-index: 10001;
        height: 30px;
        cursor: pointer;
      }

      .clear-guest-button {
        position: relative;
        top: -3px;
        padding: 5px;
        border-radius: 5px;
        margin: 3px;
        margin-right: 20px;
        background-color: $orange;
        color: white;
        margin-bottom: 5px;
        &:hover {
          filter: brightness(110%);
        }
        &:active, &:focus {
          outline: none;
          text-decoration: none;
        }
      }
    }
    
}
  .secondary-nav{
    // height: 6px;
    height: 6px;
    background-color: $orange;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 999;
    overflow-y: hidden;
    
    div {
      width: 33.3%;
      position: relative;
      top: 0;
      margin: auto;

    }
      
  h4 {
    cursor: pointer;
    color: white;
    font-size: medium;
    margin: auto;

    &:hover {
      color: #475E7F;
      font-size: medium;
    }
  }
}

.login__menu {
  width: 200px;
  position: absolute;
  height: fit-content;
  top: -180px;
  right: 0;
  background-color: #282c34;
  opacity: 0.95;
  transition: top 0.2s ease-in;
  z-index: 1000;
  .login__menu-loggedin-menu {
    margin-top: 20px;
    h4 {
      color: white;
      margin: 0;
    }
    p{
      margin: 5px;
      a {
        &:hover {
          color: $orange;
        }
      }
    }
  }
  .login-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    input {
      border: none;
      &:active, &:focus {
        outline: none;
        text-decoration: none;
      }
      padding: 5px;
      border-radius: 3px;
      margin: 5px;
    }
    button {
      padding: 5px;
      border-radius: 5px;
      margin: 3px;
      background-color: $orange;
      color: white;
      margin-bottom: 5px;
      &:hover {
        filter: brightness(110%);
      }
      &:active, &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
  p {
    margin: 0 0 5px 0;
    color: white;
  }
  .signup-link {
    margin-bottom: 10px;
    color: $orange;
    padding: 0;
    cursor: pointer;
    &:hover {
      filter: brightness(130%)
    }
  }
  &.visible {
    top: 60px;
    transition: top 0.4s ease-in;
  }
}

