

.navbar {
    width: 100%;
    height: 80px;
    /* max-width: 1200px; */
    background-color: #282c34;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    color: white;
    text-align: center;
    
    #main-logo {
        width: 25%;
        max-width: 400px;
        min-width: 100px;
        position: absolute;
        top: 35%;
        left: calc(43vw - (/* width */140px / 2));  
      }
    .profile-picture {
        position: absolute;
        border-radius: 50%;
        bottom: 30%;
        right: 2.5%;
        height: 50%;
        z-index: 10001;
      }
    }
        .secondary-nav{
          height: 40px;
          background-color: #e68b24;
          position: fixed;
          top: 80px;
          left: 0;
          width: 100%;
          display: flex;
          z-index: 999;
          overflow-y: hidden;
          
          div {
            width: 33.3%;
            position: relative;
            top: 0;
            margin: auto;
      
          }
            
        h4 {
          cursor: pointer;
          color: white;
          font-size: medium;
          margin: auto;
  
          &:hover {
            color: #4953da;
            font-size: medium;
          }
        }
      }

.login__menu {
  width: 200px;
  position: absolute;
  height: fit-content;
  top: -120px;
  right: 0;
  background-color: #282c34;
  opacity: 0.95;
  transition: top 0.2s ease-in;
  z-index: 1000;
  .login-form {
    display: flex;
    flex-direction: column;

    input {
      border: solid 1px #0070f3;
      padding: 5px;
      border-radius: 3px;
      margin: 3px;
    }
    button {
      padding: 5px;
      border-radius: 5px;
      margin: 3px;
      background-color: #e68b24;
      color: white;
      margin-bottom: 5px;
      &:hover {
        filter: brightness(110%);
      }
      &:active, &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }

  &.visible {
    top: 80px;
    transition: top 0.4s ease-in;
  }
}

