.profile-world-card {
    padding-top: 0 !important;
    width: fit-content;
    min-height: 100% !important;
}

#chartdiv {
    height: fit-content !important;
}

.sc-bdVaJa {
    margin-top: 0 !important;
    min-width: 275px;
}

.user-details {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 20px;
}

.country-flag {
    max-height: 100px;
}

.leaderboard-item {
    width: 100%;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.leaderboard-profile-image {
    border-radius: 50%;
    height: 30px;
    position: relative;
    top: 5px;
}

.username {
    position: relative;
    top: 5px;
    left: 35px;
}

.ranking-score {
    float: right;
    margin-top: 10px;
    margin-right: 8%;
}

.ranking-score-heading {
    float: right;
    margin-top: 5px;
}

.username-heading {
    position: relative;
    top: 5px;
    left: 65px;
}

.profile-row-item {
    margin: 1%;
    height: 100%;
    width: fit-content;
}

.profile-visited-heading {
    display: relative;
    top: 0;
    left: 30%;
}

.profile-country-card {
    width: fit-content !important;
    height: 150px;
    margin: 5px !important;
}

.profile-card {
    height: 270px;
}

@media only screen and (min-width: 1070px) {

    .profile-container {
        position: relative;
        top: 20px;
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        
    }
    
    .profile-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        height: fit-content;
        box-sizing: border-box;
        max-height: 50%;
        color: black;
    }

    .age-form-span {
        display: inline-flex;
        padding-top: 10px;
        padding-bottom: 4px;
        /* vertical-align: middle; */
    }

    .age-form {
        max-width: 50px;
        margin-top: 5px;
        margin-right: 5px;
    }

    .profile-row-visited {
        display: flex;
        flex-direction: row;
        width: 90%;
        overflow-x: scroll;
        overflow-y: hidden;
        box-sizing: border-box;
        height: 100%;
        color: black;
    }

    .profile-row-visited::-webkit-scrollbar {
        /* width: 0; */
        scrollbar-width: none;
        height: 0;
        background: rgba(255, 255, 255)
    }

    .profile-row-visited-container {
        height: fit-content;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        margin-left: 6%;
    }

    .profile-row-heading {
        float: left;
        /* color: white */

    }

    }

    .user-details-card-p {
        padding-top: 10px;
    }



    @media only screen and (max-width: 1070px) {
        .profile-container {
            position: relative;
            top: 20px;
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100%;
            color: white;

        }

        .profile-row {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            width: fit-content;
            height: fit-content;
            box-sizing: border-box;
            max-height: 50%;
            color: black;

        }

    .profile-country-card {
        width: fit-content !important;
        /* height: 150px; */
        width: 250px !important;
        margin: 5px !important;
    }

    .profile-row-visited {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        box-sizing: border-box;
        height: 100%;
        color: black;

    }

    .profile-row-visited::-webkit-scrollbar {
        /* width: 0; */
        width: 0;
        height: 0;
        background: rgba(255, 255, 255)
    }

  

    .profile-row-visited-container {
        height: fit-content;
        width: fit-content;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        margin-left: 1%;
    }

        }

